<main class="flex-grow-1 w-100 d-flex flex-column">
    <section id="product-details" class="mt-4">
        <div class="card m-2 anchor" style="width: 100%">
            <img src="{{ product.photo }}" style="height: 400px" class="card-img-top object-fit-cover"
                alt="{{ product.title }}" />
            <h5 class="p-2 text-center card-title">{{ product.title }}</h5>
            <p class="p-2 text-center card-description" style="font-size: 14px; margin-top: 0;">{{ product.description
                }}</p>
            <p class="p-2 text-center card-price">Precio: ${{ product.price }}</p>
            <p class="p-2 text-center card-stock">Stock: {{ product.stock }}</p>
            <!-- Aquí puedes agregar cualquier otro detalle que desees mostrar -->
        </div>
    </section>
</main>
<script src="../../scripts/index.js"></script>
<script src="../../scripts/detail.js"></script>