<main>
    <h1>Orders</h1>
    <div class="order-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Thumbnail</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody id="orders-body">
                {{#each orders}}
                <tr>
                    <td>{{this.pid.title}}</td>
                    <td><img src="{{this.pid.photo}}" alt="Product Thumbnail" width="50"></td>
                    <td>{{formatPrice this.pid.price}}</td>
                    <td>{{this.quantity}}</td>
                    <td>{{this.state}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</main>

<script src="../../scripts/orders.js"></script>