<main>
    <h1>Órdenes</h1>
    <div class="order-table">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Fecha</th>
                    <th>Producto</th>
                    <th>Cantidad</th> 
                    <th>Estado</th> 
                </tr>
            </thead>
            <tbody id="orders-body">
                {{#each orders}}
                <tr>
                    <td>{{this._id}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>{{this.pid.title}} - Precio: {{this.pid.price}}</td>
                    <td>{{this.quantity}}</td> 
                    <td>{{this.state}}</td> 
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</main>

<script src="/scripts/addToCart.js"></script>
<script src="/scripts/orders.js"></script>


